.galeria-wrapper {
  position: relative;
  width: 100%;
  max-width: 100vw;
  background-color: #f8f1e4;
  padding: 5px 0;
  overflow: visible;
}

.galeria-container {
  overflow-x: auto;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 0 10px; 
}

.galeria-container::-webkit-scrollbar {
  display: none;
}

.galeria-scroll {
  display: flex;
  gap: 5px;
  padding: 0;
}

.galeria-item {
  flex: 0 0 auto;
  width: 250px;
  height: 350px;
  border-radius: 15px;
  overflow: hidden;
}

.galeria-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.galeria-item img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(211, 84, 0, 0.5);
}

.scroll-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(211, 84, 0, 0.9);
  color: white;
  border: none;
  font-size: 40px;
  padding: 10px;
  cursor: pointer;
  border-radius: 30%;
  z-index: 20;
}

.scroll-btn.left {
  left: 0;
}

.scroll-btn.right {
  right: 0;
}

.scroll-btn:hover {
  background-color: rgba(211, 84, 0, 1);
}

@media (max-width: 600px) {
  .galeria-item {
    width: 250px;
    height: 250px;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .galeria-item {
    width: 300px;
    height: 300px;
  }
}