.main-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  padding: 1rem 0;
}

.logo-container {
  display: flex;
  align-items: center;
}

.header-logo {
  height: 90px;
  border-radius: 30px; 
  transition: transform 0.3s, box-shadow 0.3s;
}

.header-nav {
  display: flex;
  gap: 25px;
}

.header-nav a {
  text-decoration: none;
  color: #374151;
  font-weight: 600;
  transition: color 0.3s;
  font-size: larger;
}

.header-nav a:hover {
  color: #3d34c4; 
}

.mobile-menu-button {
  display: none; 
  background-color: #2a4d69;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.mobile-menu-button:hover {
  background-color: #d35400;
}

@media (max-width: 768px) {
  .header-nav {
    display: none;
  }
  .mobile-menu-button {
    display: block;
  }
}
